<header id="header" class="d-flex align-items-center ">
  <div class="container-fluid container-xxl d-flex align-items-center">
    <div id="logo" class="me-auto"> <a href="#">Language-TMT</a></div>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link active" href="#hero">Home</a></li>
        <li><a class="nav-link" href="#about">About</a></li>
        <li><a class="nav-link" href="#contact">Service</a></li>
        <li><a class="nav-link" href="#contact">Contact</a></li>
        <li><a class="nav-link" href="#contact">Help</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <a class="login" href="#login">Login</a>
  </div>
</header>
