<app-table-data [items]="tableData || {}" [horizontalScroll]="true">
  <data-column property="header1" header="header-1"></data-column>
  <data-column property="header2" header="header-2"></data-column>
  <data-column property="header3" header="header-3"></data-column>
  <data-column property="header4" header="header-4"></data-column>
  <data-column property="header5" header="header-5"></data-column>
  <data-column property="header6" header="header-6"></data-column>
  <data-column property="header7" header="header-7"></data-column>
  <data-column property="header8" header="header-8"></data-column>
  <data-column property="header9" header="header-9"></data-column>
  <data-column property="header10" header="header-10"></data-column>
</app-table-data>
