<div class="pagetitle">
  <h1>Office</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">English</a></li>
      <li class="breadcrumb-item">Communication Topics</li>
      <li class="breadcrumb-item active">Office</li>
    </ol>
  </nav>
</div>
<section class="list">
  <div class="container">
    <div class="row list-container">
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque Lobster Bisque Lobster Bisque Lobster Bisque Lobster Bisque Lobster Bisque Lobster Bisque Lobster Bisque Lobster Bisque Lobster Bisque Lobster Bisque Lobster Bisque Lobster Bisque Lobster Bisque Lobster Bisque Lobster Bisque</a><span>1</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada, Lorem, deren, trataro, filede, nerada, Lorem, deren, trataro, filede, nerada, Lorem, deren, trataro, filede, nerada, Lorem, deren, trataro, filede, nerada, Lorem, deren, trataro, filede, nerada, Lorem, deren, trataro, filede, nerada, Lorem, deren, trataro, filede, nerada, Lorem, deren, trataro, filede, nerada, Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>2</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>3</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>4</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>5</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>6</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>7</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>8</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>9</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>10</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>2</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>11</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>12</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>13</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>14</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>15</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>16</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>17</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>18</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>19</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>20</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
      <div class="col-lg-6 list-item filter-starters">
        <img src="assets/language/img/speaker.webp" class="list-img" alt="">
        <div class="list-content"> <a href="#">Lobster Bisque</a><span>21</span></div>
        <div class="list-mean"> Lorem, deren, trataro, filede, nerada</div>
      </div>
    </div>
  </div>
</section>

<div class="" >
  <button type="button" class="btn btn-primary btn__floating edit-add" (click)="sentenceAdditionModal()">Add</button>
</div>

<div class="" >
  <button type="button" class="btn btn-primary btn__floating edit-edit" (click)="sentenceAdditionModal()">Edit</button>
</div>

<div class="" >
  <button type="button" class="btn btn-primary btn__floating edit-delete" (click)="sentenceAdditionModal()">Delete</button>
</div>

<div class="" >
  <div class="icon__floating edit">
    <a (click)="showMenu()">
      <img src="assets/language/img/edit-icon.webp" class="edit-icon" alt="">
    </a>
  </div>
</div>

<ng-container>
  <ng-template #body>
    <form>
      <div class="mb-3">
        <label class="col-sm-2 col-form-label">Sentence: </label>
        <div class="col-sm-12">
          <textarea class="form-control" style="height: 100px"></textarea>
        </div>
      </div>
      <div class="mb-3">
        <label class="col-sm-2 col-form-label">Mean: </label>
        <div class="col-sm-12">
          <textarea class="form-control" style="height: 100px"></textarea>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #footer>
    <button type="button" class="btn btn-secondary">Close</button>
    <button type="button" class="btn btn-primary width-90">Save</button>
  </ng-template>
  <app-modal [id]="sentenceAdditionId" [width]="'600px'" [header]="header" [body]="body" [footer]="footer">
  </app-modal>
</ng-container>
