<section id="communication">
  <div class="container-fluid" data-aos="fade-up">
    <div class="section-header">
      <h2>Communication Topics</h2>
    </div>
  </div>
  <div class="container-fluid communication-topic-container" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-0">
      <div class="col-lg-3 col-md-4 communication-topic-item">
        <div class="communication-topic">
          <a class="glightbox" data-gall="communication-topic" (click)="toLanguageTopic()">
            <img src="assets/language/img/venue-gallery/1.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="communication-title">
          <h3>
            Office
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 communication-topic-item">
        <div class="communication-topic">
          <a href="#" class="glightbox" data-gall="communication-topic">
            <img src="assets/language/img/venue-gallery/2.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="communication-title">
          <h3>
            Sport
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 communication-topic-item">
        <div class="communication-topic">
          <a href="#" class="glightbox" data-gall="communication-topic">
            <img src="assets/language/img/venue-gallery/3.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="communication-title">
          <h3>
            Music
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 communication-topic-item">
        <div class="communication-topic">
          <a href="#" class="glightbox" data-gall="communication-topic">
            <img src="assets/language/img/venue-gallery/4.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="communication-title">
          <h3>
            Transportation
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 communication-topic-item">
        <div class="communication-topic">
          <a href="#" class="glightbox" data-gall="communication-topic">
            <img src="assets/language/img/venue-gallery/5.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="communication-title">
          <h3>
            Transportation
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 communication-topic-item">
        <div class="communication-topic">
          <a href="#" class="glightbox" data-gall="communication-topic">
            <img src="assets/language/img/venue-gallery/6.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="communication-title">
          <h3>
            Transportation
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 communication-topic-item">
        <div class="communication-topic">
          <a href="#" class="glightbox" data-gall="communication-topic">
            <img src="assets/language/img/venue-gallery/7.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="communication-title">
          <h3>
            Transportation
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 communication-topic-item">
        <div class="communication-topic">
          <a href="#" class="glightbox" data-gall="communication-topic">
            <img src="assets/language/img/venue-gallery/8.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="communication-title">
          <h3>
            Transportation
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 communication-topic-item">
        <div class="communication-topic">
          <a href="#" class="glightbox" data-gall="communication-topic">
            <img src="assets/language/img/venue-gallery/1.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="communication-title">
          <h3>
            Transportation
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 communication-topic-item">
        <div class="communication-topic">
          <a href="#" class="glightbox" data-gall="communication-topic">
            <img src="assets/language/img/venue-gallery/2.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="communication-title">
          <h3>
            Transportation
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 communication-topic-item">
        <div class="communication-topic">
          <a href="#" class="glightbox" data-gall="communication-topic">
            <img src="assets/language/img/venue-gallery/3.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="communication-title">
          <h3>
            Transportation
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 communication-topic-item">
        <div class="communication-topic">
          <a href="#" class="glightbox" data-gall="communication-topic">
            <img src="assets/language/img/venue-gallery/4.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="communication-title">
          <h3>
            Transportation
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
